.container_list{
	width: 90%;
	margin: 0 auto;
}
.option_container{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.option_list{
	color: #db2100;
	margin: 10px 0px 0px;
	cursor: pointer;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}