.spinner{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    
}
.spinning{
    animation: spinning 1s linear infinite;
}
@keyframes spinning {
    to{
        transform: rotate(360deg);
    }
}
